@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 210 16.7 97.6;
        --foreground: 217.8 23.1 22.9;
        --card: 0 0% 100%;
        --card-foreground: 217.8 23.1 22.9;
        --popover: 0 0% 100%;
        --popover-foreground: 224 71.4% 4.1%;
        --primary: 284 100 61.8;
        --primary-foreground: 0 0 100;
        --secondary: 220 14.3% 95.9%;
        --secondary-foreground: 220.9 39.3% 11%;
        --muted: 220 14.3% 95.9%;
        --muted-foreground: 213.8 20.3 69;
        --accent: 220 14.3% 95.9%;
        --accent-foreground: 217.8 23.1 22.9;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 217.8 23.1 22.9;
        --border: 220 13% 91%;
        --input: 220 13% 91%;
        --ring: 284 100 61.8;
        --radius: 0.5rem;
    }

    .dark {
        --background: 245.404 95.09% 8.04%;
        --foreground: 240 4.3 95.5;
        --card: 224 67.2 13.1;
        --card-foreground: 240 4.3 95.5;
        --popover: 224 71.4% 4.1%;
        --popover-foreground: 227.1 45.1 77.8;
        --primary: 284 100 61.8;
        --primary-foreground: 240 4.3 95.5;
        --secondary: 215 27.9% 16.9%;
        --secondary-foreground: 227.1 45.1 77.8;
        --muted: 215 27.9% 16.9%;
        --muted-foreground: 217.9 10.6% 64.9%;
        --accent: 215 27.9% 16.9%;
        --accent-foreground: 240 4.3 95.5;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 240 4.3 95.5;
        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;
        --ring: 284 100 61.8;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
